@page
@model MyApp.Pages.GroupTables.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить этот элемент?</h3>
<div>
    <h4>Группы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Название группы:</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTable.NameOfGroup)
        </dd>
        <dt>
            <p>Специальность:</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTable.Speciality)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GroupTable.ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
