@page
@model MyApp.Pages.PassOfWorks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Вы точно хотите удалить этот элемент?</h3>
<div>
    <h4>Сдача работ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Дата сдачи:</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassOfWork.ReleaseDate)
        </dd>
        <dt>
            <p>Тип работы:</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassOfWork.TypeOfWork)
        </dd>
        <dt>
            <p>Номер работы:</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassOfWork.NumberOfWork)
        </dd>
        <dt>
            <p>Название дисциплины:</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassOfWork.CallOfDiscipline)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PassOfWork.ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
